.custom-scroll {
  overflow-y: auto;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #0F172A;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.player-music{
  background-color: #0F172A !important;
  height: 5.8rem !important;
}
.rhap_time,.rhap_current-time{
color: white !important;
}

::selection{
  background-color: transparent;
  color: turquoise;
}